@model Transfermarkt.Web.ViewModels.PlayerHistoryVM
@{
    ViewData["Title"] = "SearchHistoryPlayer";
}

<h1>Player history</h1>

<form action="/Search/GetHistoryPlayer">
    Enter player which one you want to get his history:
    <select class="form-control" name="playerid">
        @foreach (var x in Model.players)
        {
            <option value="@x.Value">@x.Text</option>
        }
    </select>
    <button type="submit" class="btn btn-success mt-5">Get history</button>
</form>