
@{
    ViewData["Title"] = "Report";
}


<div style="border: 1px solid green;  height:100px;" class="text-center w-50 container"><p class="text-success" style="font-size:25px; margin-top:5%;">Mail sent successfully</p></div>


