@{
    ViewData["Title"] = "Home Page";
}
@*<img src="https://c4.wallpaperflare.com/wallpaper/593/957/270/background-mesh-football-sport-wallpaper-preview.jpg"/>*@
<body>
    <div class="container text-center m-0 col-12">
        <div class="row m-0">
            <div class="col-lg-3 pl-5 pr-5">
                <div id="searchmatch" class="card bor imgg">
                    <div class="card-body">
                        <h3 class="card-title">Search matchs</h3>
                        <p class="card-text">
                            An overview of the matches played and those that need to be played.
                        </p>
                        <a href="/Search/Index" class="btn btn-outline-dark">Search</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 pl-5 pr-5">
                <div id="searchtrainer" class="card bor imgg">
                    <div class="card-body text-center">
                        <h3 class="card-title text-white">Search trainer</h3>
                        <p class="card-text text-white">
                            Search for trainers by different criteria.
                        </p>
                        <a href="/Search/SearchTrainer" class="btn btn-outline-light">Search for trainer</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 pl-5 pr-5">
                <div id="searchplayer" class="card bor imgg">
                    <div class="card-body text-center">
                        <h3 class="card-title text-white">Search history of players</h3>
                        <p class="card-text text-white">
                            Search for history of player.
                        </p>
                        <a href="/Search/SearchHistoryPlayer" class="btn btn-outline-light">Search for history of player</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 pl-5 pr-5">
                <div id="searchcoach" class="card bor imgg">
                    <div class="card-body text-center">
                        <h3 class="card-title text-warning">Search history of coach</h3>
                        <p class="card-text text-warning">
                            Search for history of coach.
                        </p>
                        <a href="/Search/SearchHistoryCoach" class="btn btn-outline-warning">Search for history of coach</a>
                    </div>
                </div>
                </div>
            <div class="container m-0 col-12 mt-5">
                <div class="row">
                <div class="col-lg-3 pl-5 pr-5">
                    <div id="searchdetail" class="card bor imgg">
                        <div class="card-body text-center">
                            <h3 class="card-title text-warning">Search for club details</h3>
                            <p class="card-text text-warning">
                                Search for club details.
                            </p>
                            <a href="/Search/SearchClubDetails" class="btn btn-outline-warning">Search for club details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 pl-5 pr-5">
                    <div id="searchplayerbyc" class="card bor imgg">
                        <div class="card-body text-center">
                            <h3 class="card-title text-white">Search for players</h3>
                            <p class="card-text text-white">
                                Search for players by different criteria.
                            </p>
                            <a href="/Search/SearchPlayerByC" class="btn btn-outline-light">Search for player</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
</body>
<style>
    body {
        background-image: url(http://1.bp.blogspot.com/-CAP76-854j0/Vj0X0zKMDMI/AAAAAAAADnQ/EL_IoNjjvbM/s1600/football-wallpaper-high-resolution-2015.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .footertext {
        color: black;
        opacity:1;
        font-weight:bold;
    }
    #foot{
        width:100%;
        background-color:lightgray;
        opacity:0.6;
       
    }
    .imgg {
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    #searchmatch {
        background-image: url(https://avante.biz/wp-content/uploads/Football-Wallpapers/Football-Wallpapers-033.jpg);
    }
    #searchtrainer {
        background-image: url(https://img.bleacherreport.net/img/images/photos/002/837/908/hi-res-13ae8d5a2baa94e514fed09e6d5c0203_crop_north.jpg?1396908753&w=3072&h=2048);
    }
    #searchplayer {
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b9/Football_iu_1996.jpg);
    }
    #searchcoach {
        background-image: url(https://patch.com/img/cdn20/users/22870800/20191203/125206/styles/patch_image/public/9100951d___03124155803.jpg);
    }
    #searchdetail {
        background-image: url(https://www.talkchelsea.net/wp-content/uploads/2018/06/Chelsea-flag.jpg);
    }
    #searchplayerbyc {
        background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/20504dbd-53c9-4f8d-8a25-bf1b2e0e9498/dawwq2i-30be8661-c01e-429b-be14-e51d82be1626.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMjA1MDRkYmQtNTNjOS00ZjhkLThhMjUtYmYxYjJlMGU5NDk4XC9kYXd3cTJpLTMwYmU4NjYxLWMwMWUtNDI5Yi1iZTE0LWU1MWQ4MmJlMTYyNi5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.C1J4HW1Ivw-MhskQ4HPos7YEnbLtyKkgfo4J6TbijR0);
    }
    .bor {
        border-radius: 5%;
        border: 5px solid white;
        height: 320px;
        padding-top: 100px;
    }
    a.navbar-brand {
        white-space: normal;
        text-align: center;
        word-break: break-all;
    }
    html {
        font-size: 14px;
    }
    .border-top {
        border-top: 1px solid #e5e5e5;
    }

    .border-bottom {
        border-bottom: 1px solid #e5e5e5;
    }

    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }

    button.accept-policy {
        font-size: 1rem;
        line-height: inherit;
    }

    /* Sticky footer styles
-------------------------------------------------- */
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        /* Set the fixed height of the footer here */
        height: 60px;
        line-height: 60px; /* Vertically center the text there */
    }

    .input-validation-error {
        border: 2px solid red;
    }

    .field-validation-error {
        color: red;
    }
</style>