@model Transfermarkt.Web.ViewModels.CityInputVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>City</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Save">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Postal code</label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Country</label>
                    <select asp-for="CountryId" class="form-control" asp-items="Model.Countries"></select>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Feel free to</label><br />
                    <a class="btn btn-primary" href="/Countries/Create">Add country</a>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

